<!-- Default home page -->
<link type="text/css" href='./css/font-awesome.css' rel='stylesheet' />

<div class="page-header">
  <h1>IOT Dashboard
    <small>Summary</small>
  </h1>
</div>

<div ng-controller="GatewayController">

  <div class="modal fade" id="addGateway" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Add Gateway</h4>
        </div>
        <div class="modal-body">
          <p ng-show="message" class="{/message.class//">{/message.text//</p>
          <form novalidate class="form">
            Serial#:
            <input type="text" ng-model="gw.serial" />
            <br/> Type:
            <input type="text" ng-model="gw.type" />
            <br/> Description:
            <input type="text" ng-model="gw.description" />
            <!-- <pre>form = //gw | json//</pre>
            <pre>master = //master | json//</pre> -->
        </div>
        <div class="modal-footer">

          <button type="button" ng-click="reset()" class="btn btn-default">Reset</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" ng-click="add(gw)" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <div class="modal fade" id="editGateway" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Edit Gateway</h4>
        </div>
        <div class="modal-body">
          <p ng-show="message" class="{/message.class//">{/message.text//</p>
          <form novalidate class="form">
            Serial#:
            <input type="text" class="form-control" disabled ng-model="gw.s" />
            <br/> Type:
            <input type="text" class="form-control" disabled ng-model="gw.t" />
            <br/> Description:
            <input type="text" class="form-control" ng-model="gw.description" />
            <br/> Lat:
            <input type="text" class="form-control" ng-model="gw.lat" />
            <br/> Lon:
            <input type="text" class="form-control" ng-model="gw.lon" />
            <!-- <pre>form = //gw | json//</pre>
            <pre>master = //master | json//</pre> -->
        </div>
        <div class="modal-footer">

          <button type="button" ng-click="reset()" class="btn btn-default">Reset</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" ng-click="edit(gw)" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <div style="position: absolute; top:10px; right:10px;">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addGateway">
      Add Gateway
    </button>
  </div>

  <div class="row panel">
    <div class="col-md-offset-1 col-md-3 text-left">
      <form class="form-inline">
        <div class="form-group">
          <label for="exampleInputName2">Search</label>
          <input ng-model="query" class="form-control" placeholder="EDISON">
        </div>
      </form>
    </div>
    <div class="col-md-offset-5 col-md-2 text-right">
      <form class="form-inline">
        <div class="form-group">
          <label for="exampleInputEmail2">Sort By</label>
          <select class="form-control" ng-model="orderProp">
            <option value="serial">Serial</option>
            <option value="type">Type</option>
            <option value="createdAt">Date Created</option>
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="row">

    <div class="panel-group col-md-10 col-md-offset-1" id="acc_gateways" role="tablist" aria-multiselectable="true" ng-repeat="gateway in gateways | filter:query | orderBy:orderProp">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#acc_gateways" href="#gateway{/gateway.serial//" aria-expanded="false" aria-controls="gateway{/gateway.serial//">
              <div class="row">
                <div class="col-md-4">Gateway | {/gateway.serial// </div>
                <div class="col-md-2"> {/gateway.type// </div>
                <div class="col-md-4"> {/gateway.createdAt// </div>
                <div class="col-md-2">
                  <button type="button" ng-click="load(gateway.serial)" class="btn btn-md btn-default" data-toggle="modal" data-target="#editGateway">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
                </div>
              </div>
            </a>
          </h4>
        </div>
        <div id="gateway{/gateway.serial//" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">

            <div class="panel-group" id="acc_nodes" role="tablist" aria-multiselectable="true" ng-repeat="node in gateway.nodes">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc_nodes" href="#node{/node.serial//" aria-expanded="false" aria-controls="node{/node.serial//">
                        Node | {/node.serial// {/node.type// {/node.createdAt//
                      </a>
                  </h4>
                </div>
                <div id="node{/node.serial//" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">

                    <div class="panel-group" id="acc_modules" role="tablist" aria-multiselectable="true" ng-repeat="module in node.modules">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#acc_modules" href="#node{/node.serial//module{/module.serial//" aria-expanded="false" aria-controls="node{/node.serial//module{/module.serial//">
                                Module | {/module.serial// {/module.type// {/module.createdAt//
                              </a>
                          </h4>
                        </div>
                        <div id="node{/node.serial//module{/module.serial//" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">

                            <table class="table">
                              <thead>
                                <tr>
                                  <td>
                                    Device
                                  </td>
                                  <td>
                                    Value
                                  </td>
                                  <td>
                                    Timestamp
                                  </td>
                                </tr>
                              </thead>
                              <tbody ng-repeat="datapoint in module.datapoints">
                                <tr>
                                  <td>
                                    {/datapoint.device//
                                  </td>
                                  <td>
                                    {/datapoint.value//
                                  </td>
                                  <td>
                                    {/datapoint.createdAt//
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
